@font-face {
  font-family: "BG";
  src: url('/fonts/basement_grotesque/BasementGrotesque-Black_v1.202.otf');
  font-weight: normal;
  font-style: normal;
}

.stroke {
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.social-container {
  background: #eee;
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.discord {
  color: #5865F2;
}
a.twitter {
  color: #ffffff;
}